<html>
    <head>
        <meta charset="UTF-8">
        <title> Van Procedures </title> 
        <link rel="stylesheet" href="../static/style.css">  
    </head>
    <body>
        <h1> Van Procedures </h1>
        <div>
            <a href= add_van><button type="button" class="button">Add Van</button></a>
            <a href= remove_van><button type="button" class="button">Remove Van</button></a>
            <a href= load_van><button type="button" class="button">Load Van</button></a>
            <a href= drive_van><button type="button" class="button">Drive Van</button></a>
            <a href= refuel_van ><button type="button" class="button">Refuel Van</button></a>
            <div>
                <a href = "/"><button type="button" class="button"> Return to Home </button></a>
            </div>
        </div>
        
    </body>
</html>