<html>
    <head>
        <meta charset="UTF-8">
        <title> Service Procedures </title> 
        <link rel="stylesheet" href="../static/style.css">  
    </head>
    <body>
        <h1> Service Procedures & Views </h1>
        <div>
            <a href = add_service><button type="button" class="button"> Add Service </button></a>
            <a href = manage_service><button type="button" class="button"> Manage Service </button></a>
            <a href = service_view><button type="button" class="button"> Service View </button></a>
        </div>
    </body>
</html>