<html>
    <head>
        <meta charset="UTF-8">
        <title> Fire Employee </title> 
        <link rel="stylesheet" href="../static/style.css">  
    </head>
    <body>
        <h1> Employee Procedures </h1>
        <h2>Hire Employee</h2>
        <form action="/hire_employee" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>

            <label for="id">Service Id:</label><br>
            <input type="text" id="id" name="id"><br><br>

            <input type="submit" value="Submit">

            <h1> Message: {{ msg }}</h1>
        
    </body>
</html>