<html>
    <head>
        <meta charset="UTF-8">
        <title> Homescreen </title> 
        <link rel="stylesheet" href="../static/style.css">  
    </head>
    <body>
        <h1> Business Supply System </h1>
        <div>
            <button type="button" class="button"> Employee </button>
            <button type="button" class="button"> Owner </button>
            <button type="button" class="button"> Driver </button>
            <button type="button" class="button"> Product </button>
            <button type="button" class="button"> Service </button>
            <button type="button" class="button"> Van </button>
            <button type="button" class="button"> Business & Location </button>
            <button type="button" class="button"> Views </button>
        </div>
    </body>
</html>