<html>
    <head>
        <meta charset="UTF-8">
        <title> Homescreen </title> 
        <link rel="stylesheet" href="../static/style.css">  
    </head>
    <body>
        <h1> Business Supply System </h1>
        <div>
            <a href = employee><button type="button" class="button"> Employee </button></a>
            <a href = owner><button type="button" class="button"> Owner </button></a>
            <a href = driver><button type="button" class="button"> Driver </button></a>
            <a href = product><button type="button" class="button"> Product </button></a>
            <a href = service><button type="button" class="button"> Service </button></a>
            <a href = van><button type="button" class="button"> Van </button></a>
            <a href = business_and_location><button type="button" class="button"> Business & Location </button></a>
            <a href = views><button type="button" class="button"> Views </button></a>
        </div>
    </body>
</html>