<html>
    <head>
        <meta charset="UTF-8">
        <title> Business & Location Procedures </title> 
        <link rel="stylesheet" href="../static/style.css">  
    </head>
    <body>
        <h1> Business & Location Procedures </h1>
        <div>
            <a href = add_business><button type="button" class="button"> Add Business </button></a>
            <a href = add_location><button type="button" class="button"> Add Location </button></a>
            <a href = location_view><button type="button" class="button"> Location View </button></a>
        </div>
    </body>
</html>